# Problem 1

## Importing pandas

**1.** Import pandas under the name `pd`.

Import արեք pandas մոդուլը `pd` անունով։

In [2]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

 Տպեք pandas մոդուլի տարբերակը։

In [3]:
pd.__version__

'0.25.1'

## DataFrame basics



Consider the following Python dictionary `data` and Python list `labels`:

In [14]:
import numpy as np



data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**3.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

Ստեղծեք `df` DataFrame `data` dictionary-ից, որի index-ը կլինի `labels` list-ը։

In [5]:
df = pd.DataFrame(data, index=labels) 

print (df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**4.** Return the first 3 rows of the DataFrame `df`.

Տպեք `df` DataFrame-ի առաջին 3 տողերը։

In [6]:
print(df.loc[['a','b', 'c']])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**5.** Select just the `animal` and `age` columns from the DataFrame `df`.

`df` DataFrame-ից ընտրեք միայն `animal` և `age` սյուները։

In [7]:
print(df[['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**6.** Select the data in rows `[3, 4, 8]` and in columns `['animal', 'age']`.

`df`-ից վերցրեք `[3, 4, 8]` տողերում ու `['animal', 'age']` սյուներում գտնվեղ տվյալները։

In [8]:
print(df.iloc[[3,4,8],[0,1]])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**7.** Select only the rows where the number of visits is greater than 3.

Ընտրեք `df` DataFrame-ի այն տողերը, որոնց տվյալների համար visits սյան արժեքը 3-ից մեծ է։

In [19]:
print(df[df['visits']>=3])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

**8.** Select the rows where the age is missing, i.e. is `NaN`.

Ընտրեք այն տողերը, որոնց տվյալների համար age սյունի արժեքը բացակայում է՝ այսինքն `NaN` է։

In [22]:
print(df[df['age'].isnull() == True])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**9.** Select the rows where the animal is a cat and the age is less than 3.

Ընտրեք այն տողերը, որոնց տվյալների համար animal սյունի արժեքը cat է և age սյունի արժեքը փոքր է 3-ից։

In [29]:
print(df[(df['animal'] == 'cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**10.** Change the age in row 'f' to 1.5.

Փոխարինեք 'f' տողի age սյունի արժեքը 1.5-ով։

In [34]:
df.loc['f','age'] = 1.5
print(df['age']['f'])

1.5

**11.** Add a new column 'n' with all 1s.

Ավելացրեք միայն 1-եր պարունակող 'n' սյունը։

In [35]:
df['n'] = 1
print(df)

  animal  age  visits priority  n
a    cat  2.5       1      yes  1
b    cat  3.0       3      yes  1
c  snake  0.5       2       no  1
d    dog  NaN       3      yes  1
e    dog  5.0       2       no  1
f    cat  1.5       3       no  1
g  snake  4.5       1       no  1
h    cat  NaN       1      yes  1
i    dog  7.0       2       no  1
j    dog  3.0       1       no  1

**12.** Count the number of each type of animal in `df`.

Հաշվեք `df`-ում տեղ գտած կենդանիների տիպերի քանակը։

In [36]:
x = df['animal'].value_counts()
print(x)

cat      4
dog      4
snake    2
Name: animal, dtype: int64

# Problem 2

### Import the library pandas as pd

#### Import արեք pandas գրադարանը pd  անունով

In [2]:
import pandas as pd

### Use the dataset gender.txt, assign to a variable gender and use user_id as index

### Օգտագործեք gender.txt dataset-ը, վերագրեք այն gender փոփոխականին ու օգտագործեք  user_id սյունը որպես index

In [3]:
gender = pd.read_csv('gender.txt', sep='|', index_col = 'user_id')
print(gender)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Print the first 20 entries

### Տպեք առաջին 20 արժեքները

In [4]:
# print(gender[0:20])
print(gender.head(20))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660

### Print the last 10 entries

### Տպեք վերջին 10 արժեքները

In [5]:
print(gender.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### What is the number of rows in the dataset?

### Քանի տող կա dataset-ում?

In [6]:
# len(gender)
len(gender.index)

943

### What is the number of columns in the dataset?

### Քանի սյուն կա dataset-ում?

In [7]:
len(gender.columns)

4

### Print the name of all the columns

### Տպեք սյուների անունները

In [8]:
print(gender.columns.tolist())

['age', 'gender', 'occupation', 'zip_code']

### How is the dataset indexed?

### Ինչպես է ինդեքսավորված dataset-ը?

In [57]:
print(gender.index)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### What is the data type of each column?

### Ինչ տիպի է ամեն սյունը՞

In [9]:
print(gender.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Print only the occupation column

### Տպեք միայն occupation սյունը

In [10]:
print(gender['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### How many different occupations there are in this dataset?

### Քանի տարբեր occupation կա dataset-ում?

In [11]:
print(gender['occupation'].nunique())

21

### What is the most popular occupation?

### Որն է ամենահաճախ հանդիպող occupation-ը?

In [12]:
print(gender['occupation'].value_counts().idxmax())

student