# Lists: 1

In [13]:
list1 = ['hello', 1, True]
inp1 = input('input 1:')
inp2 = input('input 2:')
inp3 = input('input 3:')
print(list1)
list1.append(inp1)
list1.append(inp2)
list1.append(inp3)
print(list1)

input 1:1
input 2:2
input 3:3
['hello', 1, True]
['hello', 1, True, '1', '2', '3']

# Lists: 2

In [15]:
list1 = ['hello', 1, True]
inp1 = input('input 1: ')
inp2 = input('input 2: ')
inp3 = input('input 3: ')

list1_new = list1.copy()
list1_new.append(inp1)
list1_new.append(inp2)
list1_new.append(inp3)

print(list1)
print(list1_new)

input 1:1
input 2:2
input 3:3
['hello', 1, True]
['hello', 1, True, '1', '2', '3']

# Lists: 3

In [18]:
list2 = [0, 'hi', 2, 100, 300, 2]
inp1 = int(input('input 1: '))

print('list2 = ', list2)
print('Number of 2s =', list2.count(inp1))

input 1:2
list2 =  [0, 'hi', 2, 100, 300, 2]
Number of 2s = 2

# Lists: 4

In [26]:
list4 = [0, 'hi', 2, 100, 300, 2]
inp1 = int(input('input 1: '))
first_occurence = list4.index(inp1)
print(list4)
del list4[first_occurence]
print(list4)

input 1: 2
[0, 'hi', 2, 100, 300, 2]
[0, 'hi', 100, 300, 2]

# Lists: 5

In [27]:
list5 = [0, 'hi', 2, 100, 300, 2]
print(list5)
del list5[5]
del list5[4]
del list5[0]
print(list5)

[0, 'hi', 2, 100, 300, 2]
['hi', 2, 100]

# Lists: 6

In [30]:
list5 = [0, 'hi', 2, 100, 300, 2]
list5_new = list5.copy()
del list5_new[5]
del list5_new[4]
del list5_new[0]
print(list5)
print(list5_new)

[0, 'hi', 2, 100, 300, 2]
['hi', 2, 100]

# Lists: 7

In [34]:
l1 = [0, 'hi', 2]
l2 = [100, 300, 2]
print(l1)
l1.pop(-1)
l1.append(l2)
print(l1)

[0, 'hi', 2]
[0, 'hi', [100, 300, 2]]

# Sets: 8

In [37]:
set1 = {0, 'hi', 2, 100, 300}
inp1 = input('input 1: ')
print(set1)
set1.add(inp1)
print(set1)

input 1: 55
{0, 'hi', 2, 100, 300}
{0, 'hi', 2, 100, 300, '55'}

# Sets: 9

In [40]:
set2 = {0, 'hi', 2, 100, 300}
inp1 = int(input('input 1: '))
print(set2)
set2.remove(inp1)
print(set2)

input 1: 2
{0, 'hi', 2, 100, 300}
{0, 'hi', 100, 300}

# Sets: 10

In [42]:
set2 = {0, 'hi', 2, 100, 300}
inp1 = int(input('input 1: '))
print(set2)
set2.discard(inp1)
print(set2)

input 1: 3
{0, 'hi', 2, 100, 300}
{0, 'hi', 2, 100, 300}

# Sets: 11

In [44]:
set1 = {0, 'hi', 2, 100, 300, 5, 7}
set2 = {0, 1, 2, 3, 5, 7, 9}
print(set1.union(set2))
print(set1.intersection(set2))

{0, 1, 'hi', 2, 100, 5, 3, 7, 9, 300}
{0, 2, 5, 7}

# Sets: 12

In [57]:
set3 = set([1, 3, 5, 7, 9])
inp1 = int(input('input 1: '))
list3 = list(set3)
print(list3)
print(min(list3) < inp1 and inp1 < max(list3))

input 1: 10
[1, 3, 5, 7, 9]
False

# Tuples: 13

In [62]:
t1 = (0, 'hi', 2, 100, 300, 5, 7)
print(t1[4]), print(t1[-4])

300
100

(None, None)

# Tuples: 14

In [67]:
t2 = (0, 'hi', 2, 100, 300, 5, 7)
print(t2)
l2 = list(t2)
l2.pop(4)
l2.insert(4, 'hello')
t2_new = tuple(l2)
print(t2_new)

(0, 'hi', 2, 100, 300, 5, 7)
(0, 'hi', 2, 100, 'hello', 5, 7)

# Dictionaries: 15

In [72]:
dict1 = {'key1':'a','key2':'b'}
key = input('key: ')
value = input('value: ')
print(dict1)
dict1[key] = value
print(dict1)

key: key3
value: c
{'key1': 'a', 'key2': 'b'}
{'key1': 'a', 'key2': 'b', 'key3': 'c'}

# Dictionaries: 16

In [78]:
l1 = tuple([(1, "a"), (2,"b"), (3, "c")])
d1 = dict(l1)
print(d1)
print('Type of d1: ', type(d1))

<class 'tuple'>
{1: 'a', 2: 'b', 3: 'c'}
Type of d1:  <class 'dict'>